.App {
  text-align: center;
}
.listGrid {
    position: relative;
    height: calc(100% - 30px);
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: repeat(auto-fill, 40px);
    /* border: solid 1px red; */
    background-color: #35789d;
  }

  .listGrid::-webkit-scrollbar {
    /* background-color: #24536e; */
    width: 0px;
  }
  /* article::-webkit-scrollbar-track{
    background-color:orange;
  } */
  .listGrid::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: white;
    border: 3px solid orange;
  }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.buttonLink{
  color:white;

  text-align: center;
  padding: 10px 20px;
  /* border: 2px solid #75a4dc; */
  border-radius:6px;
  font-weight: bold;
  background-color:#5e74a5;
  /* transition: box-shadow 1s ease ; */
  cursor:pointer
}

.buttonLink:active{
  /* background-color:#2d426f; */
  box-shadow: 0px 0px 1px 3px #7283a9;
  /* padding: 9px 11px; */
}

.is-invalid-input{
  /* outline: 5px solid red !important; */
  /* border: auto; */
  /* box-sizing: border-box; */
  /* box-shadow: 0px 0px 0px 3.5px #dc5050ab; */
  border: 1.4px solid #e74c3c !important ;
}
.is-invalid-input:focus{
  box-shadow: 0 0 0 0.25rem rgb(231 76 60 / 25%);
}

.danger{
  padding: 0px 20px;
  height: 40px;
  background-color: #dc913e;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.is-invalid input{
  border: 1.4px solid #e74c3c !important;

}
.is-invalid input:focus {
  box-shadow: 0 0 0 0.25rem rgb(231 76 60 / 25%);
}
.is-invalid b{
  visibility: visible !important;
}
